In [1]:
import pandas as pd
from IPython.display import display, HTML

def exec_sql_query(sql):
    
    from sqlalchemy import create_engine
    import urllib
    params = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};SERVER=LAPTOP-C3LFVOFI;DATABASE=student_life;UID=student_Sense;PWD=abhinav123")
    engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)
    df = pd.read_sql_query(sql, engine)
    del engine
    return df

# Getting details for student_id = 1
app_usage_details = exec_sql_query("Exec train_app_usage_details @student_id = 1")
call_log = exec_sql_query("Exec train_call_log_details @student_id = 1")


HTML(app_usage_details.head().to_html())

In [18]:
from sys import getsizeof
getsizeof(app_usage_details)

2798315