In [29]:
import pandas as pd
from IPython.display import display, HTML
import numpy as np
from sklearn.utils import resample

# Create a connection with SQL server to get data.
def exec_sql_query(query, param=None):
    
    from sqlalchemy import create_engine
    import urllib
    params = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};SERVER=LAPTOP-C3LFVOFI;DATABASE=student_life;UID=student_sense;PWD=abhinav123")
    engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)
    connection = engine.raw_connection()
    
    try:
        cursor = connection.cursor()
        if(param):
            cursor.execute(query, param)
        else : 
            cursor.execute(query)
            
        results = cursor.fetchall()
        columns = [column[0] for column in cursor.description]
        df = pd.DataFrame.from_records(results, columns=columns)
        cursor.close()
        connection.commit()
    finally:
        connection.close()
    
    del engine
    return df

In [30]:
from IPython.display import display
import numpy as np

# Getting Raw Data.

activity_details_raw = exec_sql_query("select student_id, activity_time, activity_inference from  activity_details where student_id = 1")
stress_details_raw = exec_sql_query("select student_id, response_time, stress_level from stress_details where student_id = 1")

In [31]:
# SLicing.
activity_details =  activity_details_raw.loc[:,["activity_time","activity_inference", "student_id"]]
stress_details = stress_details_raw.loc[:,["response_time","stress_level","student_id"]] 

activity_details.rename({"activity_time":"time"}, axis="columns", inplace=True)
stress_details.rename({"response_time":"time"}, axis="columns", inplace=True)

# Sorting.
activity_details = activity_details.sort_values(by="time")
stress_details = stress_details.sort_values(by="time")

activity_details = activity_details.dropna()
# stress_details.dropna(inplace=True)

display(activity_details.head())
display(stress_details.head())

                     time  activity_inference  student_id
92494 2013-03-27 04:01:39                   0           1
92495 2013-03-27 04:01:41                   0           1
92496 2013-03-27 04:01:44                   0           1
92497 2013-03-27 04:01:46                   0           1
92498 2013-03-27 04:01:49                   0           1

                 time  stress_level  student_id
1 2013-03-24 09:47:00             1           1
2 2013-03-24 10:18:43             3           1
3 2013-03-24 10:30:03             4           1
4 2013-03-24 10:48:22             3           1
0 2013-03-27 04:45:45             4           1

In [32]:
activity_train_x = pd.merge_asof(stress_details,
                                 activity_details,
                                 direction="nearest",
                                 by="student_id",
                                 on="time",
                                 tolerance=pd.Timedelta("1 hour"))

display(activity_train_x)

                  time  stress_level  student_id  activity_inference
0  2013-03-24 09:47:00             1           1                 NaN
1  2013-03-24 10:18:43             3           1                 NaN
2  2013-03-24 10:30:03             4           1                 NaN
3  2013-03-24 10:48:22             3           1                 NaN
4  2013-03-27 04:45:45             4           1                 0.0
5  2013-03-28 23:53:09             4           1                 0.0
6  2013-03-29 19:45:25             1           1                 0.0
7  2013-03-30 00:32:58             5           1                 0.0
8  2013-03-30 22:27:26             1           1                 0.0
9  2013-03-31 18:49:27             1           1                 0.0
10 2013-04-01 02:45:54             2           1                 0.0
11 2013-04-03 06:03:04             1           1                 1.0
12 2013-04-04 07:28:35             4           1                 0.0
13 2013-04-05 06:08:42             4           1                 0.0
14 2013-04-06 01:26:41             4           1                 0.0
15 2013-04-06 09:39:30             5           1                 0.0
16 2013-04-07 21:21:54             1           1                 2.0
17 2013-04-09 04:50:01             1           1                 0.0
18 2013-04-10 02:59:22             2           1                 0.0
19 2013-04-10 22:33:15             1           1                 0.0
20 2013-04-11 02:03:16             1           1                 0.0
21 2013-04-12 02:44:19             1           1                 0.0
22 2013-04-13 22:54:36             4           1                 0.0
23 2013-04-14 23:14:15             1           1                 0.0
24 2013-04-16 01:52:24             1           1                 0.0
25 2013-04-16 04:24:02             1           1                 0.0
26 2013-04-17 04:01:47             1           1                 0.0
27 2013-04-19 00:32:42             4           1                 0.0
28 2013-04-20 06:44:52             4           1                 0.0
29 2013-04-26 18:03:22             1           1                 0.0
30 2013-04-28 07:47:46             2           1                 0.0
31 2013-04-28 19:34:02             2           1                 0.0
32 2013-04-28 21:44:49             2           1                 0.0
33 2013-04-29 05:50:08             3           1                 0.0
34 2013-04-30 05:58:15             2           1                 0.0
35 2013-05-07 05:04:20             1           1                 NaN

In [33]:
# Creating New column for activity_details
activity_details["stress_level"] = np.nan

# Appending other rows.
activity_train_x = activity_train_x.loc[:,["time", "student_id", "activity_inference", "stress_level"]]

activity_train_x = activity_train_x.append(activity_details.loc[:,["time", "student_id", "activity_inference", "stress_level"]],
                        ignore_index=True)

activity_train_x.sort_values(by=["student_id","time"], inplace=True)
activity_train_x.drop_duplicates()
activity_train_x.activity_inference.fillna(method="backfill", inplace=True)

In [34]:
# Seeing Final Data.

not_null = activity_train_x.loc[:,"stress_level"].notnull()
print(activity_train_x.head())

# Distributing the data into train X and train y.
activity_train_x_final = activity_train_x.loc[:,"activity_inference"]
activity_train_y_final = activity_train_x.loc[:,"stress_level"]

activity_train_x_final.to_csv("data/activity_train_x")
activity_train_y_final.to_csv("data/activity_train_y")

                  time  student_id  activity_inference  stress_level
0  2013-03-24 09:47:00           1                 0.0           1.0
1  2013-03-24 10:18:43           1                 0.0           3.0
2  2013-03-24 10:30:03           1                 0.0           4.0
3  2013-03-24 10:48:22           1                 0.0           3.0
36 2013-03-27 04:01:39           1                 0.0           NaN